/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Capriola', sans-serif;
    color: #783f04;
}

/* General text styles */
body {
    font-family: 'Capriola', sans-serif;
    display: flex;
    flex-direction: column;
    color: #783f04;
    font-size: medium;
    min-height: 100vh;
}

/* General heading styles */
h1,
h2,
h3 {
    font-family: 'Merriweather Sans', sans-serif;
    color: #783f04;
}

/* Header */
header {
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1rem 1rem 0;
    background-color: #ffffff;
}

header a {
    text-decoration: none;
}

.hidden-heading {
    display: none;
}

/* Navigation menu */
#menu {
    list-style-type: none;
    text-align: right;
}

#menu>li {
    margin-bottom: 2px;
}

.active {
    color: #305f18;
    font-weight: 800;
    border-bottom: 1px solid #305f18;
}

nav {
    position: absolute;
    width: 100%;
    display: none;
    left: 0;
    padding: 0 1rem 1rem 0;
    top: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}

#nav-toggle:checked~nav {
    display: block;
}

.nav-toggle-label {
    font-size: 2rem;
}

#nav-toggle {
    display: none;
}

/* Main content */
main {
    flex: 1 0 auto;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
}

/* Generic paragraph styling */
p {
    line-height: 140%;
    padding-bottom: 10px;
}

/* Index Page - Hero Section */
#hero {
    width: 100%;
    height: 500px;
    background: url(../images/sweden.webp) no-repeat center center/cover;
    position: relative;
}

#hero-text {
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    border-radius: 5px;
    padding: 25px;
    bottom: 0px;
}

/* Nature Page - Hero Section*/
#hero-nature {
    width: 100%;
    height: 300px;
    background: url(../images/lake.webp) no-repeat center center/cover;
    position: relative;
}

#nature-text {
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    border-radius: 5px;
    padding: 10px;
    bottom: 20px;
    left: 20px;
}

/* Nature Page Main Content */
#nature {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#nature-forest,
#nature-lake,
#nature-wildlife {
    flex-basis: 350px;
    flex-grow: 1;
    padding: 10px 20px;
}

/* Nature Page - Size and padding to icons */
#nature i {
    font-size: x-large;
    padding-right: 2px;
}

/* Activities page - Hero Section */
#hero-activities {
    width: 100%;
    height: 300px;
    background: url(../images/forest.webp) no-repeat center center/cover;
    position: relative;
}

#activities-text {
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    border-radius: 5px;
    padding: 10px;
    bottom: 20px;
    left: 20px;
}

/* Activities Page Main Content */
#activities {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#activities-hiking,
#activities-biking,
#activities-wildlife,
#activities-fishing,
#activities-swimming,
#activities-skiing {
    flex-basis: 350px;
    flex-grow: 1;
    padding: 10px 20px;
}

/* Activities Page - Size and padding to icons */
#activities i {
    font-size: x-large;
    padding-right: 2px;
}

/* Activities link styles for better visibility */
a.link:link {
    color: #305f18;
}

a.link:visited {
    color: #305f18;
}

a.link:hover {
    font-size: 110%;
    color: #305f18;
}

/* Contact us Page */
#hero-contact {
    background: url(../images/bear-large.webp) no-repeat center center/cover;
    background-size: cover;
    background-position: 50%;
    flex-grow: 1;
    padding: 20px 10px;
}

#contact-form h2 {
    color: #783f04;
    padding-bottom: 25px;
}

#contact-form h3 {
    padding: 25px 0 10px;
}

#contact-form {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 5px;
}

.text-input {
    background-color: transparent;
    color: #783f04;
    border: 1px solid #783f04;
    border-radius: 2px;
    margin: 5px 0 10px 0;
    width: 100%;
    font-size: 90%;
    padding: 2px 5px;
}

.checkbox li {
    list-style-type: none;
}

/* Contact form buttons */
.send-button {
    border-radius: 2px;
    background-color: #783f04;
    color: #ffffff;
    font-size: 100%;
    padding: 5px;
    margin-top: 20px;
    border-radius: 5px;
}

.reset-button {
    border-radius: 2px;
    background-color: #ffffff;
    color: #783f04;
    font-size: 100%;
    padding: 5px;
    margin: 20px 0 0 10px;
    border-radius: 5px;
}

/* Why visit section on Index Page */
#why-visit {
    width: 95%;
    padding: 20px;
}

#why-visit i {
    font-size: x-large;
    padding-right: 2px;
}

/* Circle Why Visit image on Index Page */
#circle-visit-image {
    background: url(../images/bear-small.webp) no-repeat top center/cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#why-visit-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

#photos {
    line-height: 0;
}

#photos img {
    width: 100%;
}

/* Footer */
#social-networks-links {
    text-align: center;
    display: flex;
    padding: 20px 0;
    justify-content: space-evenly;
    list-style-type: none;
    border-top: 1px solid #783f04;
}

/* Size and color of Social Network icons */
#social-networks-links i {
    font-size: 160%;
    padding: 5%;
    color: #783f04;
}

/* Media query: large or landscape phones (576px and up) */
/* Gallery Page for screens>576px */
@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header for screens>768px */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
    }

    /* Menu for screens>768px */
    .active {
        color: #305f18;
        font-weight: 700;
    }

    #menu {
        display: flex;
        margin-right: 15px;
        padding: 0 10px;
    }

    #menu>li {
        padding-left: 0.5rem;
        font-size: 110%;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Hero  Section on Index Page for screens>768px */
    #hero-text {
        width: 600px;
        left: 50px;
        font-size: 120%;
    }

    /* Footer for screens>768px */
    #social-networks-links i {
        font-size: 200%;
    }

    /* Why visit section on Index Page for screens>768px */
    #why-visit-activities,
    #why-visit-nature {
        width: 100%;
        font-size: 120%;
        column-count: 2;
        column-gap: 50px;
        margin: 10px 30px;
        padding-right: 25px;
    }

    #why-visit i {
        padding-right: 5px;
    }

    #why-visit p {
        padding-bottom: 20px;
    }

    #circle-visit-image {
        margin: 0;
        padding: 0;
    }

    /* Contact form for screens>768px */
    #hero-contact {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        min-height: 700px;
        padding: 0;
    }

    #contact-form {
        position: absolute;
        left: 5%;
        top: 110px;
        max-width: 400px;
        padding: 20px;
    }

    /* Gallery Page for screens>768px */
    #photos {
        column-count: 3;
    }

    /* Nature Page for screens>768px */
    #hero-nature {
        height: 400px;
    }

    #nature {
        margin: 20px;
    }

    /* Activities Page for screens>768px */
    #hero-activities {
        height: 400px;
    }

    #activities {
        margin: 20px;
    }
}

/* Media query: Large devices, Desktops (1200px and up) */
@media screen and (min-width: 1200px) {

    /* Why visit section on Index Page for screens>1200px */
    #why-visit {
        display: flex;
        flex-direction: row;
    }

    #why-visit>div {
        flex: 1;
    }

    #why-visit-image {
        order: 0;
    }

    #why-visit-nature {
        order: 1;
    }

    #why-visit-activities>div {
        align-self: flex-end;
    }

    #why-visit-nature>div {
        align-self: flex-start;
    }

    #why-visit-activities,
    #why-visit-nature {
        column-count: 1;
        padding-right: 0;
    }

    /* Nature Page for screens>1200px */
    #hero-text {
        width: 800px;
        left: 50px;
        font-size: 120%;
    }

    #nature-text {
        width: 370px;
        left: 50px;
        font-size: 120%;
        margin-bottom: 30px;
    }

    #hero-nature {
        background-position: 40% 70%;
    }

    #nature i {
        padding-right: 5px;
    }

    /* Activities Page for screens >1200px */
    #activities-text {
        width: 370px;
        left: 50px;
        font-size: 120%;
        margin-bottom: 30px;
    }

    #hero-activities {
        background-position: 20% 75%;
    }

    #activities i {
        padding-right: 5px;
    }

    #activities-hiking,
    #activities-biking,
    #activities-wildlife,
    #activities-fishing,
    #activities-swimming,
    #activities-skiing {
        flex-basis: 33%;       
    }

}